# Dependencies
node_modules/
dist/
build/

# Secrets & Environment
.env
.env.*
!.env.example
server/data_backup/seed_env_configs.json

# SQLite DB Temp Files
database/*.db-wal
database/*.db-shm
*.sqlite
*.sqlite3

# Binaries & Logs
*.exe
*.log
.DS_Store
Thumbs.db
__pycache__/

